/* line 4, ../scss/Root.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-smooth: always;
  font-size: 62.5%;
}

/* line 19, ../scss/Root.scss */
::-moz-focus-inner {
  border: 0;
  outline: 0;
}

/* line 24, ../scss/Root.scss */
body {
  font-size: 1.4rem;
}
/* line 27, ../scss/Root.scss */
body .stretch {
  width: 100%;
  height: 100%;
}
/* line 31, ../scss/Root.scss */
body .width100Percent {
  width: 100%;
}
/* line 34, ../scss/Root.scss */
body .height100Percent {
  height: 100%;
}
/* line 37, ../scss/Root.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 40, ../scss/Root.scss */
body .upperCase {
  text-transform: uppercase;
}
/* line 43, ../scss/Root.scss */
body .capitalize {
  text-transform: capitalize;
}
/* line 46, ../scss/Root.scss */
body .lowerCase {
  text-transform: lowercase;
}
/* line 49, ../scss/Root.scss */
body .table {
  display: table;
  table-layout: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
/* line 55, ../scss/Root.scss */
body .tableCell {
  display: table-cell;
  vertical-align: top;
}
/* line 59, ../scss/Root.scss */
body .tableRow {
  display: table-row;
  vertical-align: top;
}
/* line 63, ../scss/Root.scss */
body .rightAligned {
  text-align: right;
}
/* line 66, ../scss/Root.scss */
body .leftAligned {
  text-align: left;
}
/* line 69, ../scss/Root.scss */
body .centerAligned {
  text-align: center;
}
/* line 72, ../scss/Root.scss */
body .justifyAligned {
  text-align: justify;
}
/* line 75, ../scss/Root.scss */
body .inlineBlock {
  display: inline-block;
}
/* line 78, ../scss/Root.scss */
body .inline {
  display: inline;
}
/* line 81, ../scss/Root.scss */
body .block {
  display: block;
}
/* line 84, ../scss/Root.scss */
body .breakDiv {
  clear: both;
}
/* line 87, ../scss/Root.scss */
body .clearfix {
  display: block;
}
/* line 89, ../scss/Root.scss */
body .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
/* line 98, ../scss/Root.scss */
body .floatRight {
  float: right;
}
/* line 101, ../scss/Root.scss */
body .floatLeft {
  float: left;
}
/* line 104, ../scss/Root.scss */
body .disabled {
  color: #aaa;
}
/* line 107, ../scss/Root.scss */
body .hide {
  display: none;
}
/* line 110, ../scss/Root.scss */
body .relative {
  position: relative;
}
/* line 113, ../scss/Root.scss */
body .absolute {
  position: absolute;
}
/* line 116, ../scss/Root.scss */
body .fixed {
  position: fixed;
}
/* line 119, ../scss/Root.scss */
body .topAlign {
  vertical-align: top;
}
/* line 122, ../scss/Root.scss */
body .middleAlign {
  vertical-align: middle;
}
/* line 125, ../scss/Root.scss */
body .italic {
  font-style: italic;
}
/* line 128, ../scss/Root.scss */
body .outlineNone {
  outline: none;
}
/* line 131, ../scss/Root.scss */
body .stretch-half {
  width: 50%;
  height: 100%;
}
/* line 135, ../scss/Root.scss */
body .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 140, ../scss/Root.scss */
body .caption {
  color: #767676;
  font-size: 1.2rem;
  margin-top: 5px;
}
/* line 145, ../scss/Root.scss */
body .scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 151, ../scss/Root.scss */
body .image-circle {
  border-radius: 50%;
}
/* line 154, ../scss/Root.scss */
body .breakDiv {
  height: 10px;
  line-height: 10px;
}
/* line 158, ../scss/Root.scss */
body .truncateString {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
